.Header{
    padding: 5px;
    text-align: center;
    background: #394496;
    border-style: solid;
    color: lightgray;
    font-size: 15px;
}

.submit {
position: relative;
padding: 10px 20px 10px 725px
  }

.h2 {
    margin-top: 5px;
    width: 100%;
}

table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

.over-budget {
    color: red;
}

.under-budget {
    color: green;
}
